[
    {
        "name": "day01.problem01",
        "files": [
            "day01/problem01/solver.c",
            "lib/aoc_file.c"
        ],
        "compilation_cmd": "-I day01/problem01 -I lib/",
        "filesystem": {
            "files": [
                {
                    "name": "input.txt",
                    "from": "day01/problem01/input.txt"
                }
            ]
        }
    }
]
